*{margin: 0%;
padding: 0%;
}

#app{
    background-image: url("/Image/sunrise_in_vietnam-wallpaper-3840x2160.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position:center  
}
 
.logoDeLaBoite{
    position: absolute;
    height: 11vh;
    opacity:1;  
}

#loupe{
    width: 20px;
    margin-top: 3px;    
}

@font-face{
    font-family:bouton;
    src: url('/Font/WixMadeforDisplay-VariableFont_wght.ttf')
}

.boutonDuHaut{
    font-family:"bouton";
    height: 10vh;
    position:relative;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 40vw;
    background-color: rgba(74, 69, 69, 0);
    color: white   
}

@keyframes anim {
    from{opacity:0.3;}
    to{opacity: 1;}
}
  

.boutonDuHaut span:hover {
    cursor: pointer;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@font-face {
    font-family:police;
    src: url('/Font/EBGaramond-VariableFont_wght.ttf');
}

  .vietnam{
    font-size: 5em;
    font-family: police;
    position: absolute;
    top : 15%;
    left : 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.9;
    width: 45vw;
    height: 40vh;
    display: flex;
    color: rgba(255, 255, 255, 0.721);
  }

  .vietnam span{
    transition: .1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vietnam span:hover{
    transform: scale(1.3);
  }


  h3{
    color: rgba(255, 255, 255, 0.721);
    position: absolute;
    top : 18%;
    left : 50%;
    transform: translateX(-50%);
    font-size: 130%;
    font-family:police;
  }

  .grandeBoiteDuHaut{
    border-bottom: 1px solid white;
    height: 10vh;
  }
  
.firstBottomBox{
  position: absolute;
  display: flex;
  bottom:0.5vw;
  width:50vw;
  height:30vh;
}

.social{
  margin-left:3%;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
}

.social img{
  width : 3vw;
}

.social img:hover{
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #000000,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #000000,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.counter{
font-size: 2em;
color: white;
display: flex;
flex-direction: column;
margin-left: 10vw;
margin-bottom: 2vw;
}

@font-face {
  font-family:chiffre;
  src: url('/Font/Montez-Regular.ttf');
}

.counter span:nth-child(1){
  font-family:chiffre;
}

.counter span:nth-child(2){
  font-family:bouton;
  font-size:91%;
}

.secondBottomBox{
 bottom:0.5vw;
 width:50vw;
 height:30vh;
 right:2vw;
 position: absolute;
}

.boutonFleche{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 8%;
  align-items: center;
}


.borderD :hover {
   
   cursor: pointer;
   animation-name: anim;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
 }

 .borderG :hover {
   
   cursor: pointer;
   animation-name: anim;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
 }

.borderD{
  border: 2px white solid;
  border-radius:100%;
  height:5vw;
  width:5vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flecheDroite{
  margin-right:0.7vw;
  width:1.5vw;
  height:1.5vw;
  border-bottom: 4px solid rgb(255, 255, 255) ;
  border-left: 4px solid rgb(255, 255, 255);
  transform: rotate(225deg);
}

.borderG{
  border: 2px white solid;
  border-radius:100%;
  height:5vw;
  width:5vw;
  align-items: center;
  justify-content: center;
  display: flex;
  
  }
  
  .flecheGauche{
    margin-left:0.7vw;
    width:1.5vw;
    height:1.5vw;
    border-bottom: 4px solid rgb(255, 255, 255) ;
    border-left: 4px solid rgb(255, 255, 255);
    transform: rotate(45deg);
}


.opaqueBox{
  position: absolute;
  display: flex;
  height: 80%;
  width: 45vw;
  right: 0;
  justify-content: space-between;
}

.opaqueBox div{
  height: 80%;
  width: 17vw;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:2vw;
}

.opaqueBox1{
margin-left:1vw;
}

.opaqueBox1 span{
  height:40vw;
  width:17vw;
  color: white;
  display: flex;

}

.opaqueBox2 span{
  height:40vw;
  width:17vw;
  color: white;
  display: flex;
} 

.opaqueBox div :nth-child(1){
  font-family:police;
  font-size:2em;
  display: flex;
}

@media screen and (max-width: 913px) {
        #app{
          margin: auto;
          font-size:0.5em;
        }

        .counter{
          margin-left:10%;
        }

        .social img{
          scale:300%;       
        }

        .boutonFleche {
          width:18vw;
          left:-20%;
        }

        .borderD{
          scale:200%;
        }

        .borderG{
          scale:200%
        }

        h3{
          margin-left:4%;
          margin-top: 10vh;
          scale:200%;
        }

        .opaqueBox div{
          height:100%;         
        }

        .boutonDuHaut span{
        font-size:1.8em;
        }

        .boutonDuHaut {
          width:80%;
          transform: translateX(-50%); 
        }

        .opaqueBox2 span{
          margin-bottom:20%;
        }

        .opaqueBox span{
          margin-bottom:20%;
          justify-content: center;
          width:33vw;
        }

        .opaqueBox {
          position: relative;
          bottom:90%;
          right:230%;
          width: 334%;
          justify-content: space-evenly;        
        }

        .secondBottomBox{
          width:30VW;
        }

        .opaqueBox div{
          align-items: center;
          display: flex;
          height:70%;
          width:35%;
        }

        .social{
          margin-left:25%;
        }

        .counter{
          position: relative;
          top:40%;
          left:10%;
          height: 50%;
        }

        .boutonFleche{
          left:0%;
        }

}


@media screen and (max-width: 281px) {

  .boutonDuHaut span{
    font-size:1.3em;}
  
}

@media screen and (min-width: 400px ) {
  
  .boutonFleche div{
    scale:110%;
  }
}
@media screen and (min-width: 500px ) {
  
  .boutonFleche div{
    scale:110%;
  }
  
  

  .social img{
    scale:260%;
  }

  .opaqueBox span{
    position: relative;
    top:5vh;

  }

}



 
@media screen and (min-width: 600px ) {
  
  .boutonFleche div{
    scale:110%;
  }

  .social img{
    scale:230%;
  }

  
}

@media screen and (min-width: 700px ) {
  
  .boutonFleche div{
    scale:110%;
  }

  .social img{
    scale:150%;
  }


  .opaqueBox span{
    background-color: rgb(75, 30, 75);
    position: relative;
    top:5vh;

  }

 
}

